<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19026588117-so5sk3jqqolib6fu2j41k6otu9ubculh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19026588117-so5sk3jqqolib6fu2j41k6otu9ubculh</string>
	<key>API_KEY</key>
	<string>AIzaSyChtIkTkJGNHKc6eVoeA7JxLPiKUIy1gjM</string>
	<key>GCM_SENDER_ID</key>
	<string>19026588117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raclerNews</string>
	<key>PROJECT_ID</key>
	<string>racler-news</string>
	<key>STORAGE_BUCKET</key>
	<string>racler-news.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19026588117:ios:e26abcea088852732a0d5c</string>
</dict>
</plist>